* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    border-style: solid;
  }
  .clearfix{
    clear:both;
  }
  .header-banner{
    padding-top:35px;
    padding-bottom:100px;
    color:#ffffff;
    font-family:Helvetica, serif;
    font-weight:100;
    background-image:url("/assets/images/demos/bg-gr-v.png"), url("/assets/images/demos/work-desk.jpg");
    background-attachment:scroll, scroll;
    background-position:left top, center center;
    background-repeat:repeat-y, no-repeat;
    background-size:contain, cover;
  }
  .container-width{
    width:90%;
    max-width:1150px;
    margin:0 auto;
    border-style: solid;
  }
  .logo-container{
    float:left;
    width:50%;
  }
  .logo{
    background-color:#fff;
    border-radius:5px;
    width:130px;
    padding:10px;
    min-height:30px;
    text-align:center;
    line-height:30px;
    color:#4d114f;
    font-size:23px;
  }
  .menu{
    float:right;
    width:50%;
    padding-right: 50px;
   
  }
  .nav {
    background-color:#312833;
  }
  .menu-item{
    float:right;
    font-size:15px;
    color:#000;
    width:130px;
    padding:10px;
    min-height:50px;
    text-align:center;
    line-height:30px;
    font-weight:400;
    border-style: solid;
  }
  .footer-under{
    background-color:#312833;
    padding-bottom:100px;
    padding-top:100px;
    min-height:200px;
    color:#eee;
    position:relative;
    font-weight:100;
    font-family:Helvetica,serif;
  }
  .copyright{
    background-color:rgba(0, 0, 0, 0.15);
    color:rgba(238, 238, 238, 0.5);
    bottom:0;
    padding:1em 0;
    position:absolute;
    width:100%;
    font-size:0.75em;
  }
  .made-with{
    float:left;
    width:50%;
    padding:5px 0;
  }
  .foot-social-btns{
    display:none;
    float:right;
    width:50%;
    text-align:right;
    padding:5px 0;
  }
  #i2fa{
    min-height:500px;
  }
  #idkg{
    background-repeat:repeat-y;
    background-position:left top;
    background-attachment:scroll;
    background-size:contain;
    background-image:url('/assets/images/demos/bg-gr-v.png');
  }
  #iqqx{
    width:200px;
  }
  #i7toc{
    padding:10px;
  }
  .gjs-row{
    display:block;
    justify-content:flex-start;
    align-items:stretch;
    flex-wrap:nowrap;
    padding:10px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
  }
  .gjs-cell{
    min-height:75px;
    flex-grow:1;
    flex-basis:100%;
  }
  #i1ot2{
    height:100px;
    margin:0px 100px 0px 100px;
  }
  #izb8f{
    position:relative;
    padding:0px 13px 0px 0px;
    margin:5px 0px 5px 30px;
  }
  #i5yxh{
    flex-basis:150%;
    align-items:flex-start;
    display:grid;
  }
  #io3cs{
    max-width:600px;
    padding:10px 10px 10px 0;
    margin:0px 0px 0px 0px;
    margin-left: auto;
    margin-right: auto;
  }
  #enc {
    max-width: 800px;
    padding:10px 10px 10px 10px;
    /*margin:0px 0px 0px 0px; */
    margin: 5px;
    text-decoration-color: #4d114f;
    border-style: double;
  }
  #sgEncBtn {
    padding:10px 10px 10px 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
  }
  @media (max-width: 768px){
    /*.gjs-row{
      flex-wrap:wrap;
    }*/
  }