{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Encounters{% endblock %}</h1>
{% endblock %}

{% block content %}
  <!--form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Register">
  </form-->

  <div class="gjs-row" id="i1ot2">
    <div class="gjs-cell" id="i5yxh">
      <select type="text" class="FIlter" id="izb8f"><option value="opt1">Option 1</option><option value="opt2">Option 2</option></select>
    </div>
  </div>
  <div class="gjs-row" id="io3cs">
    <div id="Encounter" class="gjs-cell Encounter">
    </div>
  </div>
</div>
{% endblock %}