{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} Combat Encounter {% endblock %}</h1>
{% endblock %}

{% block content %}
  <!--form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Register">
  </form-->

  <div class="gjs-row" id="i1ot2">
    <div class="gjs-cell" id="i5yxh">
      <!--button id="filterbtn">Add Filter</button-->
      <div> 
        
        <form id = "filForm">
          <div style="margin-left: 10px;">
            <label for="alignment">Alignment:</label>
            <select id="alignment" class="filter" name="alignment" multiple>
                <option value="unaligned">unaligned</option>
                <option value="lawful good">lawful good</option>
                <option value="neutral good">neutral good</option>
                <option value="chaotic good">chaotic good</option>
                <option value="lawful neutral">lawful neutral</option>
                <option value="neutral">neutral</option>
                <option value="chaotic neutral">chaotic neutral</option>
                <option value="lawful evil">lawful evil</option>
                <option value="neutral evil">neutral evil</option>
                <option value="chaotic evil">chaotic evil</option>
            </select>
          </div>
          <div style="margin-left: 10px;">
            <label for="size">Size:</label>
            <select id="size" class="filter" name="size" multiple>
              <option value="Tiny">Tiny</option>
              <option value="Small">Small</option>
              <option value="Medium">Medium</option>
              <option value="Large">Large</option>
              <option value="Huge">Huge</option>
              <option value="Gargantuan">Gargantuan</option>
            </select>
          </div>
          <div style="margin-left: 10px;">
            <label for="chalRate">Challenge Rating:</label>
            <select id="chalRate" class="filter" name="chalRate" multiple>
              <option value="0">0</option>
              <option value=".125">1/8</option>
              <option value=".25">1/4</option>
              <option value=".5">1/2</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
            </select>
          </div>
         
          <div style="margin-left: 10px;">
            <label for="pLevel">Player Level:</label>
            <select id="pLevel" class="filter" name="pLevel">
            <!--select id="pLevel" class="filter" name="pLevel"-->
              <option selected value="none">None</option>
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
            </select>
          </div>
        
          <div style="margin-left: 10px;">
            <label for="pCount">Player Count:</label>
            <select id="pCount" class="filter" name="pCount">
              <option selected value="none"> None </option>
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
            </select>
          </div> 
        
        </form>
        <!--option value="alignment">alignment</option-->
    </div>
      <!--select type="text" class="filter" id="izb8f" multiple>
        <option value="alignment">alignment</option>
        <option value="size">Size</option>
        <option value="challengeRating">challengeRating</option>
      </select-->
      <div></div>
      <div></div>
  </div>
</div>
  
  <div>
    <button id="sgEncBtn", onclick="sugFEncounters()">Suggest Encounters!</button>
  </div>

  <div class="gjs-row" id="io3cs">
    <div id="encList" class="gjs-cell Encounter">
    </div>
  </div>
</div>

<div></div>
<div></div>

<script>
  function sugFEncounters() {
    document.getElementById("encList").innerHTML = "oops there was an issue :.(";
    //var dat = document.getElementById("filForm").value;
    var fil = document.getElementsByClassName("filter");
    console.log("return from sugF",fil);
    var dt=[];
    //loop through filters
    for(var i=0;i<fil.length;i++) {
      var ops = fil[i].selectedOptions;
      var selOpts = "";
      //loops through selected options from filter
      for(var x=0;x<ops.length;x++) {
        selOpts = selOpts + String(ops[x].value) + '|';
        console.log("op selected:",fil[i].id,"|",ops[x].value);
      }
      var key=String(fil[i].id);
      //console.log("push into dt",fil[i].id,selOpts);
      dt.push({key:fil[i].id,value:selOpts});
    }
    console.log('suggesting encounters');
    try {
      //call suggest Fight Encounters to generate the encounter list from server
      $.ajax({
        url: '/suggestFightEncounters',
        type: 'POST',
        //contentType: 'application/json', 
        dataType: 'html',
        data: JSON.stringify(dt), 
        success: function(result) {
          //upon success add the list of encounters to encList html
          $("#encList").html(result)
        }, 
        error: function(error) { 
          console.log(error); 
        }
      }); 
  } catch(err) {
    console.log("an error occurred!", err)
  }

  }
  /*
  document.getElementById("sgEncBtn").encBtn.addEventListener("click", function() {
    console.log('clicked suggest encounters');
    //document.getElementById("encList").innerHTML = "Hello World";
    //ideally the call will be if the encounter button is pressed then it will add in a generated user input. 


  })
  */
</script>

{% endblock %}