<!--doctype html-->
<title>{% block title %}{% endblock %} - DnD-5e-Encounter</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
<div></div>
<div class="nav">
  <h1> DnD-5e-Encounter </h1>
  <nav class="menu" id="iw3c">
    
    <button class="menu-item" id="in8m">Social
    </button>
    <button class="menu-item" id="i49x">Items
    </button>
    <button class="menu-item" id="icdir">Combat
    </button>
    <button class="menu-item" id="iubec9">Home
    </button>
  </nav>
</div>

<section class="content">    
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  
  {% block content %} {% endblock %}
</section>

<footer class="footer-under" id="i68095">
    <div id="i7toc">Created Using GrapeJS! yee haw all copyright reserved or something.
    </div>
    <div class="container-width"> 
    </div>
    <div class="copyright">
      <div class="container-width">
        <div class="made-with">
          made with GrapesJS
        </div>
        <div class="foot-social-btns">facebook twitter linkedin mail
        </div>
        <div class="clearfix">
        </div>
      </div>
    </div>
  </footer>


